/*-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

    1. - GENERAL

    2. - CUSTOMIZE THE CAROUSEL

    3. - RESPONSIVE

-----------------------------------------------------------------------------------*/


/* 1. - GENERAL
-------------------------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/* 2. - CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 100vh;
}
/*Carousel indicators*/
.carousel-indicators {
    justify-content: flex-start;
    margin-bottom: 3rem;
    width: 20%;
}
.carousel-indicators [data-bs-target] {
    text-indent: unset;
    width: auto;
    height: auto;
    background-color: transparent;
    border-top: 2px solid #000;
    border-bottom: none;
    padding: 10px 0px 0;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    flex: 1;
    opacity: .3;
}
.carousel-indicators .active {
    opacity: 1;
}
/* Carousel control position */
.carousel-control-next,
.carousel-control-prev {
    top: auto;
    bottom: 2rem;
    width: auto;
    border: 1px solid #000;
    border-radius: 50%;
    padding: .5rem;
    transition: all .3s ease-in-out;
    opacity: 1;
}
.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: #000;
}
.carousel-control-prev {
    left: auto;
    right: 5.5rem;
}
.carousel-control-next {
    right: 2rem;
}
.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    filter: brightness(0) grayscale(1);
    transition: filter .3s ease-in-out;
}
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: brightness(1) grayscale(0);
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 1.5rem;
    height: 1.5rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    padding: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel-inner,
.carousel-item {
    height: 100%;
}
/* Carousel custom class */
.carousel-caption > .row {
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel-caption > .row > div {
    height: 100%;
}
.carousel-media {
    position: relative;
    width: max-content;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.carousel-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carousel-bg-img {
    height: 130%;
    width: 130%;
    min-width: 130%;
    object-fit: cover;
    transform: translate(-18%, -15%);
    opacity: 1;
    scale: 1;
    transition: all .5s ease-in-out, opacity .8s ease-in-out;
}
.carousel-button {
    display: inline-block;
}
.carousel-button.btn {
    border-radius: 0;
    border-color: transparent;
    background-color: #000;
    padding: 1rem 1.5rem;
    font-size: 14px;
    font-weight: 500;
    margin-top: 1rem;
}
.carousel-button.btn i {
    margin-left: .5rem;
}
.carousel-button.btn:hover {
    border-color: #000;
    background-color: transparent;
    color: #000;
}
.carousel-item-start .carousel-img,
.carousel-item-prev .carousel-img {
    transform: scale(1.4);
    transition: transform .8s ease-in-out, opacity .8s ease-in-out;
    opacity: 0;
}
.carousel-item-next .carousel-img,
.carousel-item-end .carousel-img {
    transform: scale(1);
    opacity: 1;
    transition: transform .4s ease-in-out, opacity .8s ease-in-out;
}
.carousel-item-start .carousel-bg-img,
.carousel-item-prev .carousel-bg-img {
    scale: .8;
    transition: all .5s ease-in-out, opacity .8s ease-in-out;
    opacity: 0;
}
.carousel-item-next .carousel-bg-img,
.carousel-item-end .carousel-bg-img {
    scale: 1;
    opacity: 1;
    transition: all .5s ease-in-out, opacity .8s ease-in-out;
}
.carousel-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
}
.carousel-item-next .carousel-title,
.carousel-item-prev .carousel-title,
.carousel-item-next .carousel-desc-txt,
.carousel-item-prev .carousel-desc-txt {
    transform: translateY(25px);
    opacity: 0;
    transition: transform .6s ease-in-out, opacity .6s ease-in-out;
}
.carousel-item-next .carousel-button,
.carousel-item-prev .carousel-button {
    transform: translateY(40px);
    opacity: 0;
    transition: transform .8s ease-in-out, opacity .8s ease-in-out;
}
.carousel-button,
.carousel-title {
    transform: translateY(0);
    opacity: 1;
    transition: transform .4s ease-in-out, opacity .1s ease-in-out;
}
.carousel-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: #000;
    padding: 8rem 0;
    row-gap: 3rem;
}
.carousel-desc-txt {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 0;
}
.carousel-desc-txt {
    transform: translateY(0);
    opacity: 1;
    transition: transform .4s ease-in-out, opacity .2s ease-in-out;
}


/* 3. - RESPONSIVE
-------------------------------------------------- */


@media only screen and (max-width: 1160px) {
    .carousel-indicators {
        width: 28%;
    }
    .carousel-title {
        font-size: 2.6rem;
    }
}

@media only screen and (max-width: 992px) {
    .carousel-button.btn {
        padding: 0.75rem 1rem;
    }
    .carousel-title {
        font-size: 2.3rem;
    }
    .carousel-caption {
        left: 10%;
        right: 10%;
    }
    .carousel-indicators {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 768px){
    .carousel-caption {
        left: 0;
        right: 0;
    }
    .carousel-caption > .row > div:first-child {
        position: absolute;
        z-index: 1;
    }
    .carousel-caption:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0,0,0, .6);
    }
    .carousel-title,
    .carousel-desc-txt {
        color: #fff;
    }
    .carousel-content {
        padding: 8rem 10%;
    }
    .carousel-indicators {
        width: 36%;
    }
    .carousel-indicators [data-bs-target] {
        color: #fff;
        border-color: #fff;
    }
    .carousel-button.btn:hover {
        border-color: transparent;
        background-color: #fff;
        color: #000;
    }
}

@media only screen and (max-width: 625px){
    .carousel-indicators {
        width: 50%;
    }
}

@media only screen and (max-width: 480px){
    .carousel-indicators {
        width: 80%;
    }
}